{% extends "paginawebApp/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<!--tipo de caracteres-->
		<meta charset="utf-8">
		
		<!--linkear los iconos-->
	  	<script src="https://kit.fontawesome.com/b8043ce943.js" crossorigin="anonymous"></script>
	</head>


	<!------------------------- GOOGLE CHARTS ------------------------->
	<head> 
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		  google.charts.load('current', {'packages':['bar']});
		  google.charts.setOnLoadCallback(drawChart);

	
		  function drawChart()
		  {
			var data = google.visualization.arrayToDataTable({{losDatos|safe}});
	
			var options = {
			  chart: {
				title: {{titulo|safe}},
				subtitle: {{subtitulo|safe}},
			},
			  bars: 'vertical' // Required for Material Bar Charts.
			};
	
			var chart = new google.charts.Bar(document.getElementById('barchart_material'));
	
			chart.draw(data, google.charts.Bar.convertOptions(options));
		}
		</script>
	  </head>
	<!------------------------- GOOGLE CHARTS ------------------------->
	  
	<body>
		<!----------------- CONTENIDO ----------------->
		<main>
			<!--seccion de home-->
			<div style="width: 75%; margin: auto;">
				<section class="intro">
					<!----------------- GRAFICA ----------------->
            		<div id="barchart_material" style="width: 900px; height: 500px;"></div>
					<!----------------- GRAFICA ----------------->
				</section>
			</div>
		</main>
		<!----------------- CONTENIDO ----------------->
	</body>


	<section>
		
		<a style="width: 75%; margin: auto; text-align: center; color: black;" class="nav-link text-uppercase text-expanded" href="{% url 'Juego_unity' %}">Regresar</a>  
	
	</section>

</html>

{% endblock %}